@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    min-height: 100%;
    min-width: 100%;
    background: linear-gradient(45deg, #5171ff, #5171ff, #5171ffe7);
}

.scroll-top {
    position: fixed;
    width: 60px;
    height: 60px;
    padding: 0.5rem;

    right: 0;
    bottom: 50%;

    background-color: #193e524d;
    backdrop-filter: blur(10px);
    border-radius: 5rem 0 0 5rem;
    overflow: hidden;

    display: flex;
    align-items: center;
    justify-content: center;

    cursor: pointer;
}

header {
    position: relative;
    top: 0;

    display: flex;
    align-items: center;
    z-index: 99999;
    nav {
        width: 100%;
        height: 10vh;
        padding: 3rem 5rem;
        @media (max-width: 992px) {
            padding: 1rem 2rem;
        }
        .desktop {
            display: flex;
            align-items: center;
            justify-content: end;
            gap: 3rem;
            li {
                list-style: none;
                a {
                    text-decoration: none;
                    color: #ffffff;
                    font-size: 1.3rem;
                    font-weight: 600;
                    cursor: pointer;
                    transition: all 0.5s;
                    &:hover {
                        text-shadow: 0 5px rgba(223, 96, 140, 0.726);
                    }
                }
            }
            @media (max-width: 992px) {
                display: none;
            }
        }

        .hamburger-react {
            display: none;
            @media (max-width: 992px) {
                display: flex;
            }
        }
        .mobile {
            overflow: hidden;
            width: 0;
            background-color: #193e524d;
            backdrop-filter: blur(10px);
            border-radius: 1rem;

            display: none;
            align-items: center;
            justify-content: center;
            flex-direction: column;

            transition: width 0.3s;
            li {
                list-style: none;
                padding: 1rem;
                a {
                    text-decoration: none;
                    color: #ffffff;
                    font-size: 1.5rem;
                    font-weight: 600;
                    text-wrap: nowrap;
                    cursor: pointer;
                    transition: all 0.5s;
                    &:hover {
                        text-shadow: 0 5px rgba(223, 96, 140, 0.726);
                    }
                }
            }
            &.open {
                width: 100%;
            }
            @media (max-width: 992px) {
                display: flex;
            }
        }
    }
}

#home {
    position: relative;

    display: flex;
    align-items: center;
    z-index: 999;
    main {
        width: 100%;
        min-height: calc(100vh - 30vh);

        text-align: center;

        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;

        span {
            position: absolute;
            top: 150px;
            left: 100px;
            color: #d4f819;
            font-size: 4rem;
            font-weight: 800;
            transform: rotate(-15deg);
        }
        h1 {
            color: #ffffff;

            font-size: 7rem;
            font-weight: 800;
            font-style: italic;

            text-shadow: 0 10px rgba(223, 96, 140, 0.726);
            letter-spacing: 0.05rem;
        }

        h2 {
            width: 80%;
            font-size: 1.3rem;
            font-weight: 600;
            color: #ffffff;
            text-shadow: 0 4px rgba(223, 96, 140, 0.726);
            letter-spacing: 0.05rem;

            text-align: end;
        }
        img {
            position: relative;
            top: 80px;
        }
    }
    aside {
        background-color: #ffffff;
        width: 50vw;
        min-height: calc(100vh - 30vh);

        display: flex;
        align-items: center;
        justify-content: center;

        img {
            width: 500px;
            height: 500px;
            background-color: #424242;
        }
    }

    @media (max-width: 768px) {
        display: flex;

        main {
            margin: 10px;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            width: 100%;
            span {
                position: absolute;
                top: 170px;
                left: 10px;
                color: #d4f819;
                font-size: 1.5rem;
                font-weight: 800;
                transform: rotate(-15deg);
            }

            h1 {
                font-size: 2.5rem;
            }

            h2 {
                font-size: 1rem;
                margin-top: 1rem;
                text-align: center;
            }

            img {
                margin-bottom: 10%;
            }
        }
    }
}

#about {
    height: 100%;
    padding: 5rem;

    background-color: #e5f8ff;

    display: flex;
    align-items: center;
    main {
        margin: auto 10%;

        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 3rem;
        h2 {
            color: #121212;
            font-size: 4rem;
            font-weight: 600;
            max-width: 50%;
        }

        p {
            color: #424242;
            font-size: 1.5rem;
            font-weight: 500;
            line-height: 150%;
            max-width: 50%;
        }
    }

    @media (max-width: 992px) {
        height: 100%;
        padding: 4rem 1rem;

        display: flex;
        align-items: center;
        main {
            width: 100%;
            margin: 10px;

            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            gap: 3rem;
            h2 {
                font-size: 3rem;
                font-weight: 600;
                max-width: 100%;
            }

            p {
                color: #555555;
                font-size: 1rem;
                font-weight: 500;
                line-height: 150%;
                max-width: 100%;
            }
        }
    }
}

#features {
    height: 100%;
    padding: 5rem;

    display: flex;
    align-items: center;

    main {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        h1 {
            font-size: 4rem;
            font-weight: 700;
            color: #ffffff;

            text-shadow: 0 10px rgba(223, 96, 140, 0.726);
            letter-spacing: 0.05rem;
        }

        .features-cards {
            padding: 3rem;

            display: flex;
            align-items: center;
            gap: 3rem;
            flex-wrap: wrap;
            .card {
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;
                width: 200px;
                height: 200px;
                padding: 1rem;

                border-radius: 50%;
                background-color: #e5f8ff;
                img {
                    margin-bottom: 1rem;
                }
                h1 {
                    color: #000000;
                    text-align: center;
                    font-size: 1rem;
                    font-weight: 500;
                    letter-spacing: normal;
                    text-shadow: none;
                }
            }
        }
    }

    @media (max-width: 992px) {
        main {
            width: 100%;
            margin: 10px;
            h1 {
                text-align: center;
                font-size: 3rem;
                font-weight: 700;
                color: #ffffff;
            }
        }
    }
}

#gallery {
    height: 100%;
    padding: 5rem;
    background-color: #e5f8ff;

    display: flex;
    align-items: center;
    span {
        font-size: 1.2rem;
        font-weight: 500;
        max-width: 30%;
    }
    figure {
        width: 100%;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 3rem;
        img {
            width: 150px;
            height: 100%;
            border-radius: 1rem;
        }
    }
    @media (max-width: 992px) {
        height: 100%;
        padding: 2rem;
        background-color: #e5f8ff;

        display: flex;
        align-items: center;
        flex-direction: column;
        span {
            font-size: 1.2rem;
            font-weight: 500;
            max-width: 100%;
            text-align: center;
            margin-bottom: 2rem;
        }
        figure {
            width: 100%;
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            gap: 3rem;
            img {
                width: 150px;
                height: 100%;
                border-radius: 1rem;
            }
        }
    }
}

footer {
    width: 100%;

    padding: 1rem;
    .copy {
        padding: 1rem 0 0 0;
        background-color: #5171ffd2;
        display: flex;
        align-items: center;
        justify-content: center;
        p {
            color: #ffffff;
        }
    }
    h1 {
        text-align: center;
        font-size: 4rem;
        font-weight: 700;
        color: #ffffff;
        text-shadow: 0 10px rgba(223, 96, 140, 0.726);
        letter-spacing: 0.05rem;
        margin-bottom: 2rem;
    }
    .field {
        margin: auto 15%;
        padding: 1rem;
        border-radius: 0.6rem;
        background-color: #e5f8ff;

        display: flex;
        align-items: center;
        justify-content: space-between;
        .contact {
            display: flex;
            flex-direction: column;
            p {
                color: #000000;
                font-weight: 400;
                font-size: 1.3rem;
            }
            a {
                font-weight: 600;
                font-size: 1.3rem;
                text-decoration: none;
                color: #000000;
            }

            .socials {
                display: flex;
                align-items: center;
                gap: 1rem;
                margin-top: 3rem;
            }
        }
    }
    @media (max-width: 992px) {
        width: 100%;

        padding: 3rem;

        h1 {
            text-align: center;
            font-size: 3rem;
            font-weight: 700;
            color: #ffffff;
            margin-bottom: 2rem;
        }
        .field {
            margin: 10px;
            flex-direction: column;

            .contact {
                align-items: center;
                justify-content: center;
                text-align: center;
                p {
                    font-size: 1.1rem;
                }
                a {
                    font-size: 1.1rem;
                }

                .socials {
                    justify-content: center;
                }
            }
        }
    }
}

::-webkit-scrollbar {
    width: 6px;
}

::-webkit-scrollbar-thumb {
    background: #5171ffe7;
    border-radius: 1px;
}
